.markdown-section iframe {
  margin: 0;
}
.vuep {
  flex-direction: column;
  height: auto;
}
.vuep-editor, .vuep-preview, .vuep-error {
  width: 100%;
  height: auto;
  margin-right: 0;
}
.vuep-editor {
  max-height: 300px;
}
.vuep-preview, .vuep-error {
  min-height: 200px;
}

/**
  * className 命名: 组件名-属性
 */
.color-box {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.color-c1 {
  background-image: linear-gradient(to right, #db9b57, #fdcb96);
}
.color-c2 {
  background-color: #f4c288;
}
.color-c3 {
  background-color: #582c00;
}
.color-c4 {
  background-color: #b2b2b2;
}
.color-c5 {
  background-image: linear-gradient(to right, #bd8952, #e4c4a1);
}
.color-c6 {
  background-color: #f37b2b;
}

.color-mc1 {
  background-image: linear-gradient(to right, #d3a25f, #e1c08c);
}
.color-mc2 {
  background-color: #c89f6e;
}
.color-mc3 {
  background-color: #999;
}
.color-mc4 {
  background-color: #000;
  color: #fff;
}
.color-mc5 {
  background-image: linear-gradient(to right, #f9534b, #ff8a42);
}
.color-mc6 {
  background-color: #ff4e00;
}
